<!-- <nav class="bg-[#f2f2f4] m-2 rounded-2xl shadow-md border-gray-200 dark:bg-gray-900 "> -->
<nav class="bg-[#f2f2f4] my-2 rounded-2xl shadow-md border-gray-200 fixed w-full z-30 ">
  <!-- <div class="max-w-screen-xl flex  flex-wrap  items-center justify-around mx-10 p-3"> -->
  <div class=" flex   flex-wrap  items-center justify-around  p-1">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img [src]="urlBase+configuracion?.imgLogo+'?alt=media'" class="h-14" alt="Flowbite Logo" />
    </a>

    <div class="flex md:order-2">
      <button type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search" aria-expanded="false"
        class="md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 me-1">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
        </svg>
        <span class="sr-only">Search</span>
      </button>
      <div class="relative hidden md:block">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
          <span class="sr-only">Search icon</span>
        </div>
        <input type="text" id="search-navbar"
          class="block w-full p-2 rounded-full  2xl:mr-40 xl:mr-30 lg:mr-10 mr-1 border-0 shadow-md  ps-10 text-sm text-gray-900 border border-gray-300  bg-white focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="¿Qué está buscando?">
      </div>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
      <div class="relative mt-3 md:hidden">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
        <input type="text" id="search-navbar2"
          class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Search...">
      </div>
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium  border border-gray-100 rounded-lg bg-[#f2f2f4] md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-[#f2f2f4] dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a [routerLink]="['/']" routerLinkActive="router-link-active" (click)="eraseRoute()"
            class="block py-2 px-3 text-gray-900 rounded    hoverMenu " aria-current="page">Sobre Nosotros</a>
        </li>
        <li>
          <a [routerLink]="['/ecommerce']" routerLinkActive="router-link-active" (click)="eraseRoute()"
            class="block py-2 px-3 text-gray-900 rounded    hoverMenu">E-commerce</a>
        </li>
        <li>
          <a [routerLink]="['/products']" routerLinkActive="router-link-active"
            class="block py-2 px-3 text-gray-900 rounded    hoverMenu">Catálogo</a>
        </li>
      </ul>
    </div>
    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse  ">

      <div class="grid grid-cols-2 divide-x space-x-3 divide-gray-800">
        @if(!clientLogin.login){
        <div class="col-span-1 pt-3">
          <span (click)="openModal('#modalLogin')" class=" text-sm mt-2 px-3 py-1.5 initSesion   ">Iniciar
            Sesión</span>
        </div>
        }@else{
        <button
          class="relative group transition-all duration-200 focus:overflow-visible  rounded-full  py-3.5 overflow-hidden flex flex-row items-center justify-center  gap-2  border border-zinc-200 btnAvatar">
          <span class="text-sm  spanAvatar">
            {{getInitials(clientLogin.name) | uppercase }}
          </span>
          <div
            class="z-50 absolute shadow-lg -bottom-28 left-0  h-max p-2 bg-white text-gray-600 border border-zinc-200 rounded-lg flex flex-col gap-2"
            style="width: 11.5em;">
            <span class="flex flex-row gap-2 items-center hover:bg-zinc-100 p-2 rounded-lg" (click)="goClientProfile()">
              <i class="bi bi-person-circle"></i>
              <p>Mi cuenta</p>
            </span>
            <span class="flex flex-row gap-2 items-center hover:bg-zinc-100 p-2 rounded-lg" (click)="signOff()">
              <i class="bi bi-box-arrow-right"></i>
              <p>Cerrar Sesión</p>
            </span>
          </div>
        </button>
        }

        <div class="col-span-1  ">
          <button (click)="toggleDrawer()" class=" text-white rounded-full mt-3 px-1 ml-4 btnCar"
            style="  padding: 3px 4px;">
            <i class="bi bi-cart-plus-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>


<!-- OPEN MODAL LOGIN SYSTEM -->

<div id="modalLogin" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 
            right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full   animate__animated animate__slideInRight ">
  <div class="relative p-4 w-full max-w-sm max-h-full">
    <!-- <app-login-component (loginCliente)="updateLoginScreen($event)" [origin]="'cotizacion'"></app-login-component> -->
    <app-login-register [configuracion]="configuracion" [information]="information"></app-login-register>
  </div>
</div>

<div
  class="fixed top-0 right-0 h-screen 2xl:w-[23rem] xl:w-[21em]  overflow-y-auto     bg-white dark:bg-gray-800 shadow-lg z-50 transform transition-transform duration-300 ease-in-out rounded-t-2xl shadow-xl "
  [ngClass]="{
      'translate-x-0': isDrawerOpen,
      'translate-x-full': !isDrawerOpen
    }">
  <div class="flex justify-between items-center p-4 border-b dark:border-gray-700">
    <h2 class="text-xl font-semibold text-gray-600 dark:text-white">Tu carrito de compras</h2>
    <button (click)="closeDrawer()" type="button"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
      </svg>
      <span class="sr-only">Cerrar modal</span>
    </button>
  </div>
  <div class="grid-cols-1 p-2 space-y-2  ">
    @for(prod of arrayProduct; track prod){
    <div class="col-span-1  ">
      <app-sidebar-layout-rigth [prod]="prod" [logo]="logo" [isLazyLoaded]="true"
        [loading]="true"></app-sidebar-layout-rigth>
    </div>
    }
  </div>
  <hr>

  <div class="block justify-center items-center p-4 border-b dark:border-gray-700  bg-gray-100 ">

        <div class="flex justify-between items-center mb-4">
            <span class="text-lg font-medium text-gray-700">Subtotal:</span>
            <span class="text-lg font-bold text-red-500" id="cart-subtotal">$ {{subTotal(arrayProduct) | number:'1.2-2'}}</span>
        </div>

        <button type="button" onclick="goToCheckout()"
            class="w-full bg-red-500 text-white py-1.5 px-4 shadow-lg rounded-full font-medium text-md hover:bg-red-600 focus:ring-4 focus:ring-red-200 transition-all duration-200 transform hover:scale-[1.02] active:scale-[0.98]">
            Ir al carrito
        </button>
  </div>



</div>